.jumbotron{
	background-color: #262626;
	display: inline-block;
	width: 100%;
	margin-bottom: 0px !important;

}

.jumbotron h1 {
	color: #e84b12;
	font-family: 'Rokkitt', serif;
	text-align: center;
}

// .jumbotron h1:hover {
// 	color: #fff;
// 	font-family: 'Rokkitt', serif;
// 	text-align: center;

// }

.jumbotron .btn{
	margin-right: 25px;
	border-color: #262626 !important;
}

.jumbotron .btn:hover {
	border-color: #e84b12 !important;
}

.display-3{
	font-size: 6.5rem;
}
