 h2, h3, h4, h5, p, a {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
 a {
	color:#262626;
}

.undertitle{
	color: #fff;
	padding-top: 6px;
}
.content {
	margin-bottom: 20px;
}

.card {
	margin: 9px 0px;
}

.outsideTitle {
	color: black;
	margin-top: 4px;
}

.btn {
	color: #e84b12;
	border-color: #e84b12;
}

.btn:hover{
	background-color: none;
	color:#fff;
	border-color: #fff;
}

/*.preTitle {
	color: white;
	text-align: center;
}

.preTitle:hover {
	display: none;
}*/

.fade    {
	display: none;
}


.card-img:hover + .fade {
	display: inline-block;
}



.card-img:hover {
	 -webkit-filter: brightness(40%);
    -webkit-transition: all .4s ;
    -moz-transition: all .4s ;
    -o-transition: all .4s ;
    -ms-transition: all .4s ;
    transition: all .4s ;
}

.card-img-overlay .btn{
	background-color: none;
	width: 100%;
	margin: auto 0px;
}

.card-img-overlay span {
	padding-top: 12px;
	width: 15%;
	margin:auto;
	margin-left: 15%;
}

.card-img + .btn:hover{
	background-color: none;
	width: 100%;
	margin: auto 0px;
	color:#fff !important;
}

.twitter-head {
	/*float: right;*/
	text-align: center;

}



@media (min-width: 576px){

	.jumbotron {
	    padding: 2rem 2rem;
	}
}

@media (max-width: 510px) and (min-width: 411px){

	.jumbotron h1{
		font-size: 5rem;
	}
}
@media(max-width: 410px){
	.jumbotron .btn {
		margin-right: 0px;
	
	}

	.jumbotron h1{
		font-size: 4.5rem;
	}
}
