h2, h3, h4, h5, p, a {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
 a {
	color:#262626;
}

.aboutcontent {
	margin-bottom: 20px;
}

span{
	display: inline-block;
}



.jumbotron{
	background-color: #262626;
	display: inline-block;
	width: 100%;

}

.jumbotron h1 {
	color: #e84b12;
	font-family: 'Rokkitt', serif;
	text-align: center;
}

.jumbotron h1:hover {
	color: #fff;
	font-family: 'Rokkitt', serif;
	text-align: center;
}

.jumbotron .btn{
	margin-right: 25px;
}

.display-3{
	    font-size: 6.5rem;
}

.btn {
	color: #e84b12;
	border-color: #e84b12;
}

.btn:hover{
	background-color: none;
	color:#fff;
	border-color: #fff;
}




.footer {
	margin-top: 25px;

}

.footer:hover + .footlogo {
	color: orange;
}

@media (min-width: 576px){

	.jumbotron {
	    padding: 2rem 2rem;
	}
}

@media (max-width: 510px) and (min-width: 411px){

	.jumbotron h1{
		font-size: 5rem;
	}
}
@media(max-width: 410px){
	.jumbotron .btn {
		margin-right: 0px;
	
	}

	.jumbotron h1{
		font-size: 4.5rem;
	}
}
