 h2, h3, h4, h5, p, a {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
 a {
	color:#262626;
}



.content {
	margin-bottom: 20px;
}

.card {
	margin: 9px 0px;
}

.jumbotron{
	background-color: #262626;
	display: inline-block;
	width: 100%;

}

.jumbotron h1 {
	color: #e84b12;
	font-family: 'Rokkitt', serif;
	text-align: center;
}

.jumbotron h1:hover {
	color: #fff;
	font-family: 'Rokkitt', serif;
	text-align: center;
}

.jumbotron .btn{
	margin-right: 25px;
}

.display-3{
	    font-size: 6.5rem;
}

.btn {
	color: #e84b12;
	border-color: #e84b12;
}

.btn:hover{
	background-color: none;
	color:#fff;
	border-color: #fff;
}

.card-title{
	font-family: 'Rokkitt', serif;
}

.card-img-overlay    {
	display: none;
}

.card-img:hover + .card-img-overlay {
	display: inline-block;
}

.card-img:hover {
	 -webkit-filter: brightness(40%);
    -webkit-transition: all .4s ;
    -moz-transition: all .4s ;
    -o-transition: all .4s ;
    -ms-transition: all .4s ;
    transition: all .4s ;
}


.card-img-overlay .btn{
	background-color: none;
	width: 100%;
	margin: auto 0px;
}

.card-img-overlay span {
	padding-top: 12px;
	width: 15%;
	margin:auto;
	margin-left: 15%;
}

.card-img + .btn:hover{
	background-color: none;
	width: 100%;
	margin: auto 0px;
	color:#fff !important;
}



.footer {
	margin-top: 25px;
	
}

.navbar{
	min-height: 60px;

}
.footlogo{
	padding-left: 10px;
}

.footlogo:hover {
	color: #e84b12 !important;
}

span{
	display: inline-block;
	
}

i{
	color: #fff !important;
	padding-right: 10px;
}
i:hover{
	color: #e84b12 !important;
}

@media (min-width: 576px){

	.jumbotron {
	    padding: 2rem 2rem;
	}
}

@media (max-width: 510px) and (min-width: 411px){

	.jumbotron h1{
		font-size: 5rem;
	}
}
@media(max-width: 410px){
	.jumbotron .btn {
		margin-right: 0px;
	
	}

	.jumbotron h1{
		font-size: 4.5rem;
	}
}
